
// remove buttons div in live
.buttons {
    margin: 10rem 1rem 0 1rem;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
    }
}

button {
    font-family: $standard-font;
    font-size: 1.1rem;
    
    padding: 0.7rem;

    border: none;

}

.btn-1 {
    background-color: $accent-light-1;
    color: $core-white;
    border: 2px solid $accent-light-1;

    &:hover{
        background-color: $accent-dark-1;
        border-color: $accent-dark-1;
    }

}

.btn-2 {
    background-color: $accent-light-2;
    color: $core-white;
    border: 2px solid $accent-light-2;

    &:hover{
        background-color: $accent-dark-2;
        border-color: $accent-dark-2;
    }
}

.btn-3 {
    background-color: $accent-light-3;
    color: $core-white;
    border: 2px solid $accent-light-3;

    &:hover{
        background-color: $accent-dark-3;
        border-color: $accent-dark-3;
    }
}

.lp-btn-1 {
    background-color: $core-white;
    color: $core-black;
    border: 2px solid $accent-light-1;

    &:hover{
        background-color: $accent-dark-1;
        border-color: $accent-dark-1;
        color: $core-white;
    }
}

.lp-btn-2 {
    background-color: $core-white;
    color: $core-black;
    border: 2px solid $accent-light-2;
   
    &:hover{
        background-color: $accent-dark-2;
        border-color: $accent-dark-2;
        color: $core-white;
    }
}

.lp-btn-3 {
    background-color: $core-white;
    color: $core-black;
    border: 2px solid $accent-light-3;

    &:hover{
        background-color: $accent-dark-3;
        border-color: $accent-dark-3;
        color: $core-white;
    }
}

.blocked-btn {
    background-color: $neutral-3;
    color: $core-black;
    border: 2px solid $neutral-3;
}