// Core palette

$core-black: #000;
$core-white: #fff;

// Accent palette

$accent-light-1: #CE0099;
$accent-dark-1: #7A004F;
$accent-light-2: #8854FC;
$accent-dark-2: #312780;
$accent-light-3: #00CEC3;
$accent-dark-3: #1CA1AF;

// Neutral palette
// lightest to darkest

$neutral-1: #D3D7D6;
$neutral-2: #BDC4C2;
$neutral-3: #A7B0AD;
$neutral-4: #919C99;
$neutral-5: #7F8280;
$neutral-6: #666C69;