footer {
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-family: $standard-font;
}

#footer-top, #footer-bottom {
    background-color: $core-black;
    color: $core-white;

    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        img {
            width: 150px;
        }
    }

    div {
        margin: auto 2rem;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

#footer-bottom {
    border-top: 1px solid $neutral-6;
}